
.container{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;

}
.wrapper{
    display: grid;
    grid-template-columns: 15fr 15fr 15fr;
    
    border-radius: 12px;
    margin: 4rem;
    overflow: hidden;
}
.box1{
    background-color: orange;
}
.box2{
    background-color: darkcyan;
}
.box3{
    background-color: hsl(179, 100%, 13%);
}
.box{
    padding: 45px;
}
.box h2{
   color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family:'Big Shoulders Display',Cusive;
    }
.box p{
    color: white;
    line-height: 1.5;
}
.box a{
    color: white;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 40px;
    display: inline-block;
   
}
.box1 a{
   background-color: orange;
   }
.box2 a{
    background-color: darkcyan;
    }
.box3 a{
     background-color: hsl(179, 100%, 13%);
   
}
@media only screen and (max-width:720px){
  [class*="col-"]{
    width: 100%;
  }
}
